@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");

:root {
    --color-accent: #198754;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media (min-width: 1000px) {
    .container {
        max-width: 1000px;
    }
}

h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 2rem;
}

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
input, textarea, input:active, textarea:active {
    /*outline: 0 !important;*/
    /*outline-color: transparent !important;*/
    /*outline-style: none !important;*/
    /*box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;*/
}

/*form .btn {*/
/*    padding: 20px 30px;*/
/*}*/

.text,
#home-tab-pane {
    opacity: .8;
}

.bg-light {
    border-radius: 5px;
}

a,
.btn-link {
    color: var(--color-accent);
}

.border-top-grey {
    border-top: 1px solid rgb(255 255 255 / 5%);
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.form-control:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 25%) !important;
}

input[type=text]::-ms-clear,
input[type=text]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

:focus {
    outline-style: none;
    outline-width: 0 !important;
}

/**,*/
/*.rounded-3 {*/
/*    -webkit-border-radius: 0 !important;*/
/*    -moz-border-radius: 0 !important;*/
/*    border-radius: 0 !important;*/
/*}*/

.paddingTopBottom {
    padding-top: 5%;
    padding-bottom: 5%;
}

.paddingBottom {
    padding-bottom: 5%;
}

#navbar {
    padding-top: 10px;
    padding-bottom: 10px;
}

#navbar .navbar-brand {
    letter-spacing: 5px;
}

#search {
    padding-top: 30px;
    padding-bottom: 30px;
}

#search form {
    margin-bottom: 30px;
}

#search .nav a {
    color: white;
}

#search .nav a span {
    opacity: 0.8;
}

#search .btn {
    color: white;
    --bs-btn-padding-x: 0.5rem;
}

#search .btn .search-text {
    opacity: 0.8;
    font-size: 14px;
}

.text-bg-white {
    color: #ffffff !important;
    background-color: #212529;
}

#search .nav i {
    margin-left: 5px;
    font-size: 22px;
}

#search .form-control {
    border: 1px solid white;
    background-color: var(--color-accent);
}

#search .searchF {
    padding: 10px 20px;
}

#search .searchFB {
    border: 1px solid white;
    background-color: white;
    color: var(--color-accent);
    padding: 10px 20px;
}

@media (max-width: 992px) {
    #search .prodM {
        margin-top: 20px;
    }
}

.dropdown-item {
    transition: all ease .3s;
}

#search .prodM a {
    padding: 10px 0 0 0;
    margin-right: 10px;
    border-radius: 0 !important;
}

#search .prodM a:hover {
    border: 1px solid transparent;
    border-bottom: 1px solid #fff;
}

#search input[type="search"]::placeholder {
    color: white !important;
    opacity: 1;
}

#search input[type="search"]::-webkit-input-placeholder {
    color: white !important;
    opacity: 0.8;
}

#search input[type="search"]:-ms-input-placeholder {
    color: white !important;
    opacity: 0.8;
}

#search input[type="search"]::-moz-placeholder {
    color: white !important;
    opacity: 0.8;
}

#search input[type="search"]:-moz-placeholder {
    color: white !important;
    opacity: 0.8;
}

#search .form-control {
    color: white !important;
}

#search .top-0 {
    top: 7px !important;
}

#search .text-opacity {
    opacity: 0.7;
}

.card,
.card a {
    transition: all ease .3s;
}

.card:hover,
.card a:hover {
    box-shadow: 0 0 20px #cfcfcf;
}

.card h5 a {
    border-radius: 0;
    border-bottom: 1px solid transparent;
}

.card h5 a:hover {
    box-shadow: none;
    border-bottom: 1px solid black;
}

.card .card-img-top {
    padding: 10px;
}

#prod .card-body .btn-group {
    margin-top: 20px;
    width: 100%;
    margin-bottom: 20px;
}

#prod .btn-group a {
    margin-right: 5px;
    border-radius: 5px;
}

#prod .card-body a {
    text-decoration: none;
    border-radius: 5px;
}

#prod .card-body h5 a {
    border-radius: 0;
}

#prod .nav-tabs {
    margin-bottom: 30px;
    margin-top: 30px;
}

#prod .price {
    font-size: 30px;
    color: black;
    opacity: 1;
}

#prod .price span {
    font-size: initial;
}

#prod .btn-group {
    margin-bottom: 20px;
}

.star {
    padding: 5px 15px;
    color: var(--color-accent);
}

.col-md, col {
    margin-bottom: 10px;
}

#prod .volSum {
    display: inline-block;
}

#prod .volSum i, #prod .volSum span {
    font-size: 20px;
}

#prod .volSum span {
    padding-left: 5px;
    padding-right: 5px;
}

/*#prod .volSum button{*/
/*    border: 0;*/
/*    padding: 0;*/
/*    margin: 5px;*/
/*}*/

#prod .volume {
    display: inline-block;
}

#prod .fotorama {
    margin-bottom: 20px;
}

#prod .nav-link {
    color: var(--color-accent);
}

#prod .card-body-cat a {
    display: inline-table;
    position: absolute;
    left: 0;
    /*right: 0;*/
    margin: auto;
    bottom: 0;
    /* top: 32%; */
    z-index: 9999;
    background-color: #fff;
    padding: 20px 40px;
    text-decoration: none;
    border-radius: 5px;
}

#prod .card-body-cat a:hover {
    background-color: var(--color-accent);
    color: white !important;
    transition: all ease .3s;
}

footer input {
    margin-bottom: 5px;
}

.btnS {
    padding: 20px 30px;
    margin-bottom: 5px;
}

.pos-rel {
    position: relative;
}

.rounded-3 i {
    color: rgb(0 0 0 / 6%);
    font-size: 11em;
    position: absolute;
    top: 0;
    right: 0;
}

.modal-content {
    padding: 20px;
}

#prod .sort {
    margin-bottom: 20px;
}

#prod .sort span {
    float: left;
    margin: 3px 10px 0 0;
}

#prod .sort select {
    display: inline-block;
    width: auto;
}

.fotorama__thumb-border {
    border-color: var(--color-accent);
    border-radius: 5px;
}

.bi-x-circle-fill {
    color: #dc3545;
    font-size: 1.5em;
}

.number input {
    width: 30px;
    text-align: center;
    border: 0;
}