@import url("/apps/static/css/bootstrap-icons-1.9.1/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-accent: #198754;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media (min-width: 1000px) {
    .container {
        max-width: 1000px;
    }
}

h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 2rem;
}

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
input, textarea, input:active, textarea:active {
    outline: 0 !important;
    outline-color: transparent !important;
    outline-style: none !important;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

select option:hover {
    background-color: var(--color-accent);
}

body {
    background-color: var(--color-accent);
    font-family: 'Jost', sans-serif;
    transition: all ease .3s;
}

#main-container {
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.5);
}

/*form .btn {*/
/*    padding: 20px 30px;*/
/*}*/
.admin-def {
    margin-bottom: 10px;
}

.text,
#home-tab-pane {
    opacity: .8;
}

.bg-light {
    border-radius: 5px;
}

a,
.btn-link {
    /*color: black;*/
    color: var(--color-accent);
}

.border-top-grey {
    border-top: 1px solid rgb(255 255 255 / 5%);
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.form-control:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 25%) !important;
}

input[type=text]::-ms-clear,
input[type=text]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

:focus {
    outline-style: none;
    outline-width: 0 !important;
}

/**,*/
/*.rounded-3 {*/
/*    -webkit-border-radius: 0 !important;*/
/*    -moz-border-radius: 0 !important;*/
/*    border-radius: 0 !important;*/
/*}*/

.paddingTopBottom {
    padding-top: 3%;
    padding-bottom: 3%;
}

.paddingBottom {
    padding-bottom: 5%;
}

#profile .avatar {
    width: 200px;
    display: flex;
}

#profile .avatar img {
    border-radius: 5px;
    width: 100%;
}

#navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-shadow: 0px -50px 50px -50px rgba(0, 0, 0, 1) inset;
    -moz-box-shadow: 0px -50px 50px -50px rgba(0, 0, 0, 1) inset;
    box-shadow: 0px -50px 50px -50px rgb(0 0 0) inset;
}

#navbar .navbar-brand {
    letter-spacing: 5px;
    font-size: 50px;
}

.dropdown-menu[data-bs-popper] {
    left: inherit;
    right: 0;
}

#search {
    padding-top: 30px;
    padding-bottom: 30px;
}

/*#search form {*/
/*    margin-bottom: 30px;*/
/*}*/

#search .nav a {
    color: white;
}

#search .nav a span {
    opacity: 0.8;
}

#search .btn {
    color: white;
    --bs-btn-padding-x: 0.5rem;
}

#search .btn .search-text {
    opacity: 0.8;
    font-size: 14px;
}

.text-bg-white {
    color: #ffffff !important;
    /*background-color: #212529;*/
}

#search .nav i {
    margin-left: 5px;
    font-size: 22px;
}

#search .form-control {
    border: 1px solid white;
    background-color: rgb(0 0 0 / 10%);
}

#search .searchF {
    padding: 10px 20px;
}

#search .searchFB {
    border: 1px solid white;
    background-color: white;
    color: var(--color-accent);
    padding: 10px 20px;
}

#search .searchFF {
    border: 1px solid white;
    background-color: white;
    color: var(--color-accent);
    padding: 10px 20px;
    border-right: 2px solid rgb(0 0 0 / 40%);
}

@media (max-width: 992px) {
    #search .prodM {
        margin-bottom: 30px;
    }
}

.dropdown-item {
    transition: all ease .3s;
}

#search .prodM a {
    padding: 10px 0 0 0;
    margin-right: 10px;
    border-radius: 0 !important;
}

#search .prodM a:hover {
    border: 1px solid transparent;
    border-bottom: 1px solid #fff;
}

#search input[type="search"]::placeholder {
    color: white !important;
    opacity: 1;
}

#search input[type="search"]::-webkit-input-placeholder {
    color: white !important;
    opacity: 0.8;
}

#search input[type="search"]:-ms-input-placeholder {
    color: white !important;
    opacity: 0.8;
}

#search input[type="search"]::-moz-placeholder {
    color: white !important;
    opacity: 0.8;
}

#search input[type="search"]:-moz-placeholder {
    color: white !important;
    opacity: 0.8;
}

#search .form-control {
    color: white !important;
}

#search .top-0 {
    top: 7px !important;
}

#search .text-opacity {
    opacity: 0.7;
}

#filter {
    color: white;
}

#filter .collapse {
    padding-bottom: 3%;
    transition: all ease .3s;
}

#filter .sort {
    margin-bottom: 10px;
}

#filter .sort span {
    float: left;
    margin: 3px 10px 0 0;
}

#filter .sort select {
    display: inline-block;
    width: auto;
}

.card,
.card a {
    transition: all ease .3s;
}

.card:hover,
.card a:hover {
    box-shadow: 0 0 20px #cfcfcf;
}

.card h5 a {
    border-radius: 0;
    border-bottom: 1px solid white;
}

.card h5 a:hover {
    box-shadow: none;
    border-bottom: 1px solid black;
}

.card .card-img-top {
    padding: 10px;
}

#prod .card img {
    border-radius: 5px;
}

#prod .card-body .btn-group {
    margin-top: 20px;
    width: 100%;
    margin-bottom: 20px;
}

#prod .btn-group a,
#prod .btn-group button {
    margin-right: 5px;
    border-radius: 5px;
    border: 0;
    /*-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) inset;*/
    /*-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) inset;*/
    /*box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) inset;*/
}

#prod .card-body a {
    text-decoration: none;
}

#prod .card-body-i {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    border: 0;
}

#prod .card-body-i a {
    text-decoration: none;
    color: black !important;
    font-size: 33px;
    border: 0;
    padding: 20px 30px;
    background-color: #ffffff;
    border-radius: 5px;
    transition: all ease .3s;
}

#prod .card-body-i a:hover{
    background-color: black;
    color: white!important;
}

#prod .nav-tabs {
    /*margin-bottom: 30px;*/
    margin-top: 30px;
}

#prod .price {
    font-size: 30px;
    color: var(--color-accent);
    opacity: 1;
}
.total_price{
    font-size: 30px;
    color: var(--color-accent);
    opacity: 1;
}

#prod .price span {
    font-size: initial;
    font-weight: normal;
    color: black;
}

#prod .btn-group {
    margin-bottom: 20px;
}

.star {
    padding: 5px 15px;
    color: goldenrod;
}

.col-md, col {
    margin-bottom: 10px;
}

#prod .volSum {
    display: inline-block;
}

#prod .volSum i, #prod .volSum span {
    font-size: 20px;
}

#prod .volSum span {
    padding-left: 5px;
    padding-right: 5px;
}

/*#prod .volSum button{*/
/*    border: 0;*/
/*    padding: 0;*/
/*    margin: 5px;*/
/*}*/

#prod .volume {
    display: inline-block;
}

#prod .fotorama {
    /*margin-bottom: 20px;*/
    border-radius: 5px;
}

#nav-tab .nav-link {
    color: var(--bs-dark);
}

/*#prod .nav-link,*/
/*#profile .nav-link {*/
/*    color: var(--color-accent);*/
/*}*/

footer {
    -webkit-box-shadow: 0px 150px 100px -100px rgba(0, 0, 0, 1) inset;
    -moz-box-shadow: 0px 150px 100px -100px rgba(0, 0, 0, 1) inset;
    box-shadow: 0px 150px 100px -100px rgb(0 0 0) inset;
}

footer input {
    margin-bottom: 5px;
}

.btnS {
    padding: 20px 30px;
    margin-bottom: 5px;
    /*-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5) inset;*/
    /*-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5) inset;*/
    /*box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5) inset;*/
    background-color: var(--color-accent);
    border-color: var(--color-accent);
}

.btnG {
    padding: 20px 30px;
    margin-bottom: 5px;
    /*-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5) inset;*/
    /*-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5) inset;*/
    /*box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5) inset;*/
    background-color: #6c757d;
}

.btnSG {
    background-color: var(--color-accent);
    /*-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) inset;*/
    /*-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) inset;*/
    /*box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) inset;*/
}

.btn-outline-success {
    -webkit-box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%) inset;
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%) inset;
    border: 0;
}

.form-control,
.form-select {
    /*-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1) inset;*/
    /*-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1) inset;*/
    /*box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1) inset;*/
}

.pos-rel {
    position: relative;
}

.pos-rel .btnS {
    background-color: white;
}

.rounded-3 i {
    color: rgb(0 0 0 / 6%);
    font-size: 11em;
    position: absolute;
    top: 0;
    right: 0;
}

.modal-content {
    padding: 20px;
}

#prod .minus {
    margin-left: 10px;
}

.fotorama__thumb-border {
    border-color: var(--color-accent);
    border-radius: 5px;
}

.bi-pencil-square,
.bi-box-arrow-up-right {
    /*font-size: 25px;*/
    margin-left: 5px;
}

.bi-x-square-fill {
    color: #dc3545;
    font-size: 25px;
}

.number input {
    width: 30px;
    text-align: center;
    border: 0;
}

#review-tab-pane .star {
    padding: 0;
}

#review-tab-pane .avatar img {
    max-width: 100px;
    border-radius: 5px;
}

#paginator {
    margin-top: 50px;
}

#paginator .page-link {
    color: var(--color-accent);
    padding: 10px 19px;
    /*-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) inset;*/
    /*-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) inset;*/
    /*box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) inset;*/
}

#paginator .active .page-link {
    color: white;
    background-color: var(--color-accent);
    border-color: var(--color-accent);
}

#administrator .list-group a,
#profile .list-group a {
    text-decoration: none;
    font-weight: 500;
}

#administrator .list-group-item,
#profile .list-group-item {
    /*-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) inset;*/
    /*-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) inset;*/
    /*box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) inset;*/
}

#administrator .list-group-item.active {
    background-color: var(--color-accent);
    color: white;
}

#administrator .list-group-item.active a {
    color: white;
}

.form-floating textarea {
    min-height: 200px;
}

.form-floating > .form-control-plaintext:focus, .form-floating > .form-control-plaintext:not(:placeholder-shown), .form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown) {
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

.table {
    vertical-align: inherit;
}

.table a {
    text-decoration: none;
}

.table-hover > tbody > tr:hover > * {
    transition: all ease .3s;
}

.btn .badge {
    background-color: #212529;
}

.cart img {
    border-radius: 5px;
}

/* слайдер*/
#slider-index {
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 5%;
}

.slider-index {
    text-align: center;
}

.slider-index img {
    max-width: 100%;
}

.slider-index a {
    text-decoration: none;
    border-bottom: 1px solid white;
    color: black;
    transition: all ease .3s;
}

.slider-index a:hover{
    border-bottom: 1px solid black;
}

.tns-outer {
    text-align: center;
    position: relative;
}

.tns-controls {
    position: absolute;
    top: 30%;
    width: 100%;
}

.tns-controls button[data-controls=prev] {
    left: -40px;
    position: absolute;
}

.tns-controls button[data-controls=next] {
    right: -40px;
    position: absolute;
}

.tns-controls button {
    font-size: 30px;
    border: 0;
    background-color: transparent;
}

.tns-nav button {
    margin: 5px;
    border: 0;
    padding: 5px;
    border-radius: 5px;
    background-color: #ddd;
}

.tns-nav > .tns-nav-active {
    background: var(--color-accent);
}

.errorlist {
    color: red;
    background: rgb(255 0 0 / 10%);
    border-radius: 5px;
    padding: 1rem;
    list-style: none;
}

.errorAjax{
    color: red;
    background: rgb(255 0 0 / 10%);
    border-radius: 5px;
    margin: 15px 0;
    padding: 1rem;
}

.validAjax {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
    border-radius: 5px;
    padding: 1rem;
    margin: 15px 0;
}

.author {
    text-align: center;
}

.comment p {
    opacity: .8;
}

.comment .avatar {
    margin-bottom: 1rem;
}

.pop-card {
    position: relative;
}

.pop-category {
    position: absolute;
    top: 0;
    background-color: var(--color-accent);
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
}

#addReview form select {
    color: goldenrod;
    font-size: 20px;
}

.rating {
    color: goldenrod;
    font-size: 20px;
}

#cart_form {
    min-width: 100px;
}

#cart_form input {
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

#cart_form button {
    border: 1px solid var(--color-accent);
    background-color: var(--color-accent);
    color: white;
    border-radius: 5px;
    /*-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) inset;*/
    /*-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) inset;*/
    /*box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) inset;*/
}

/* чарт */
.highcharts-figure,
.highcharts-data-table table {
    min-width: 360px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

/* /чарт */


#myTab .link-success {
    color: rgb(0 0 0 / 70%)!important;
}
.nav-tabs .nav-link {
    background-color: #dee2e6;
    margin-right: 5px;
}

.nav-tabs .nav-link.active{
    background-color: white;
}

@media (max-width: 500px) {
    .nav-tabs .nav-link {
        padding: 7px;
        margin-right: 3px;
    }
}


/* product */

.tag::before {
  content: "#";
    margin-left: 5px;
    margin-right: 2px;
}
/* /product */


/* cart */

#cart_table tr th,
#cart_table tr td {
    text-align: center;
}

#cart_table tr th:nth-child(1),
#cart_table tr td:nth-child(1),
#cart_table tr th:nth-child(2),
#cart_table tr td:nth-child(2) {
    text-align: left;
}

/* /cart */


/* manager */

.category_img,
.product_img {
    margin-bottom: 20px;
    width: 100%;
}

#category_table tr th,
#category_table tr td,

#product_table tr th,
#product_table tr td,

#order_table_manager tr th,
#order_table_manager tr td {
    text-align: center;
}

#category_table tr th:nth-child(2),
#category_table tr td:nth-child(2),

#product_table tr th:nth-child(2),
#product_table tr td:nth-child(2),

#order_table_manager tr th:nth-child(2),
#order_table_manager tr td:nth-child(2) {
    text-align: left;
}

.rounded-pill{
    background-color: gold;
    color: black;
}

/* /manager */


/* profile */

#order_table_profile tr th,
#order_table_profile tr td {
    text-align: center;
}

#order_table_profile tr th:nth-child(2),
#order_table_profile tr td:nth-child(2) {
    text-align: left;
}
#administrator .list-group a:first-child, #profile .list-group a:first-child {
    border-bottom: 1px solid white;
    transition: all ease .3s;
}

#administrator .list-group a:first-child:hover, #profile .list-group a:first-child:hover {
    border-bottom: 1px solid black;
    color: black;
}

/* /profile */