<footer class="py-3 my-4">
    <div class="container">
        <div class="col">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="{% url 'main' %}" class="nav-link px-2 text-muted">Главная</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle px-2 text-muted" href="" id="navbarDropdownMenuLink2"
                       role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Магазин
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'tea' %}">Чай</a></li>
                        <li><a class="dropdown-item" href="{% url 'coffee' %}">Кофе</a></li>
                        <li><a class="dropdown-item" href="{% url 'spices' %}">Специи</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a href="{% url 'about' %}" class="nav-link px-2 text-muted">О нас</a></li>
                <li class="nav-item"><a href="{% url 'contacts' %}" class="nav-link px-2 text-muted">Контакты</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Форум</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Блог</a></li>
            </ul>
            <p class="text-center text-muted">© 2022 EVO</p>
        </div>
    </div>
</footer>