<ul class="list-group">
    <li class="list-group-item">
        <a href="{% url 'administrator' %}"><i class="bi bi-speedometer2"></i> Дашборд</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'admin_category' %}"><i class="bi bi-folder2-open"></i> Категории</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'admin_product' %}"><i class="bi bi-list-task"></i> Товары</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'admin_review' %}"><i class="bi bi-chat-text"></i> Отзывы</a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'admin_order' %}"><i class="bi bi-cart3"></i> Заказы</a>
    </li>
</ul>