{% extends 'layouts/base.html' %}
{% load  static %}
{% block title %}EVO магазин / Добавить товар{% endblock %}
{% block content %}
    <section id="prod" class="paddingTopBottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p><a href="{% url 'manager_product' %}">Вернуться</a></p>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                    <h1>Добавить товар</h1>
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div>{{ form.non_field_errors }}</div>
                        {% for field in form %}
                            <div class="form-floating mb-3">
                                {{ field }}
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            </div>
                            <div>{{ field.errors }}</div>
                        {% endfor %}
                        <br>
                        <div>
                            <h3>Изображения товара</h3>
                            {{ product_form.as_p }}
{#                            {{ product_form.management_form }}#}
{#                            {{ product_form.non_form_errors }}#}
{#                            {% for field in product_form %}#}
{#                                <div class="form-floating mb-3">#}
{#                                    {{ field }}#}
{#                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>#}
{#                                </div>#}
{#                                <div>{{ field.errors }}</div>#}
{#                            {% endfor %}#}
                        </div>
                        <button type="submit" class="btn btn-success btnS">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
