{% extends 'layouts/base.html' %}
{% load  static %}
{% block title %}EVO магазин / Управление сайтом{% endblock %}
{% block content %}
    <section id="administrator" class="paddingTopBottom">
        <div class="container">
            <div class="row">
                <div class="col-md-3 mb-5">
                    {% include 'includes/manager/sidebar.html' %}
                </div>
                <div class="col-md-9">
                    <h3>Дашборд</h3>
                    <p>Отзывов на проверку {{ count_review }}</p>
                    <p>Заказов на обработку {{ count_order }}</p>
                    <div>
                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                        <canvas id="orderInDay"></canvas>
                        <br>
                        <canvas id="orderInMonth"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        const ctx = document.getElementById('orderInDay');
        const ctx2 = document.getElementById('orderInMonth');

        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [{%for order in orders_day%}'{{order.day|date:"d M Y"}}',{%endfor%}],
                datasets: [{
                    label: 'Количество заказов в день',
                    backgroundColor: '#198754',
                    borderColor: '#198754',
                    data: [{%for order in orders_day%}{{order.count_order}}, {%endfor%}],
                    fill: true,
                    borderWidth: 1,
                }]
            },
        });

        const myChart2 = new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: [{%for order in orders_month%}'{{order.month|date:"M Y"}}',{%endfor%}],
                datasets: [{
                    label: 'Количество заказов в месяц',
                    backgroundColor: '#198754',
                    borderColor: '#198754',
                    data: [{%for order in orders_month%}{{order.count_order}}, {%endfor%}],
                    fill: true,
                    borderWidth: 1,
                }]
            },
        });
    </script>
{% endblock %}