{% extends 'layouts/base.html' %}
{% load  static %}
{% block title %}EVO магазин / Управление заказами{% endblock %}
{% block content %}
    <section id="administrator" class="paddingTopBottom content">
        <div class="container">
            <div class="row">
                <div class="col-md-3 mb-5">
                    {% include 'includes/manager/sidebar.html' %}
                </div>
                <div class="col-md-9">
                    <h3>Управление заказами</h3>
                    {% if object_list %}
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Получатель</th>
                                    <th scope="col">Статус</th>
                                    <th scope="col">Оплачен</th>
                                    <th scope="col">&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for order in object_list %}
                                    <tr>
                                        <td>{{ order.id }}</td>
                                        <td><a href="{% url 'update_order' order.pk %}">{{ order.surname }} {{ order.name }} <i class="bi bi-pencil-square"></i></a>
                                        </td>
                                        <td>{{ order.get_status_display }}</td>
                                        <td>{{ order.get_paid_display }}</td>
                                        <td><a href="{% url 'delete_order' order.pk %}"><i class="bi bi-x-square-fill"></i></a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <p>Заказов нет</p>
                    {% endif %}
                    {% include 'includes/paginator.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}