{% extends 'layouts/base.html' %}
{% load  static %}
{% block title %}EVO магазин / Настройки{% endblock %}
{% block content %}
    <section id="administrator" class="content">
            <div class="row">
                <div class="col-md-3 mb-5">
                    {% include 'includes/manager/sidebar.html' %}
                </div>
                <div class="col-md-6">
                    <h3>Настройки</h3>
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div>{{ form.non_field_errors }}</div>
                        {% for f in form %}
                            <div class="form-floating mb-3">
                                {{ f }}
                                <label for="{{ f.id_for_label }}">{{ f.label }}</label>
                            </div>
                            <div>{{ f.errors }}</div>
                        {% endfor %}
                        <button type="submit" class="btn btn-success btnS">Обновить</button>
                    </form>
                </div>
            </div>
    </section>
{% endblock %}