{% extends 'layouts/base.html' %}
{% block title %}EVO магазин / Регистрация{% endblock %}
{% block content %}
    <section class="paddingTopBottom">
        <div class="container">
            <div class="row">
                <div class="col-md-">
                    <h1>Регистрация</h1>
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-success">Отправить</button>
                    </form>
                    <br>
                    <p>У вас уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}