{% extends 'base.html' %}
{% block title %}EVO магазин / {{ product.name }}{% endblock %}
{% block content %}
    <section id="prod" class="paddingTopBottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="fotorama" data-width="100%" data-nav="thumbs" data-allowfullscreen="true">
                        {% if product.image %}
                            <img src="{{ product.image.url }}" alt="">
                        {% else %}
                            <img src="/static/img/noimg.jpg" alt="No image">
                        {% endif %}
                        {% if product.images.all %}
                            {% for photo in product.images.all %}
                                <img src="{{ photo.image.url }}" alt="">
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-5 offset-md-1">
                    <div class="btn-group" role="group">
                        <a type="button" class="btn btn-outline-success"><i class="bi bi-bookmarks"></i></a>
                        <a type="button" class="btn btn-outline-success"><i class="bi bi-heart"></i></a>
                        <div class="star">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star"></i>
                        </div>
                    </div>

                    <h3>{{ product.name }}</h3>
                    <p>Вес <span>{{ product.volume }}</span> грамм</p>
                    <p class="volSum">Количество <i class="bi bi-dash-circle"></i> <span>1</span> <i
                            class="bi bi-plus-circle"></i></p>
                    <p class="price"><span>{{ product.price }}</span> рублей</p>
                    <p><a type="button" class="btn btn-success" href="">Добавить в корзину</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col">

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                    data-bs-target="#home-tab-pane" type="button" role="tab"
                                    aria-controls="home-tab-pane" aria-selected="true">Описание
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link link-success" id="profile-tab" data-bs-toggle="tab"
                                    data-bs-target="#profile-tab-pane" type="button" role="tab"
                                    aria-controls="profile-tab-pane" aria-selected="false">Характеристики
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link link-success" id="contact-tab" data-bs-toggle="tab"
                                    data-bs-target="#contact-tab-pane" type="button" role="tab"
                                    aria-controls="contact-tab-pane" aria-selected="false">Отзывы (0)
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel"
                             aria-labelledby="home-tab" tabindex="0">{{ product.desc }}
                        </div>
                        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab"
                             tabindex="0">
                            <div class="col-md-6">
                                <table class="table table-striped">
                                    <tbody>
                                    {% if product.volume %}
                                        <tr>
                                            <td>Вес</td>
                                            <td>{{ product.volume }} грамм</td>
                                        </tr>
                                    {% endif %}
                                    {% if product.country %}
                                        <tr>
                                            <td>Страна</td>
                                            <td>{{ product.country }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if product.town %}
                                        <tr>
                                            <td>Город</td>
                                            <td>{{ product.town }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if product.year %}
                                        <tr>
                                            <td>Год</td>
                                            <td>{{ product.year }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if product.tag %}
                                        <tr>
                                            <td>Метки</td>
                                            <td>{{ product.tag }}</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab"
                             tabindex="0">
                            <div class="p-3">
                                <h5>Добавить отзыв</h5>
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <button class="btn btn-success">Сохранить</button>
                                </form>
                            </div>
                            <hr>
                            {% if product.reviews.all %}
                                {% for review in product.reviews.all %}
                                    <div class="p-3 bg-light">
                                        <p>{{ review.description }}</p>
                                        <p class="text-end"><i class="bi bi-clock"></i> {{ review.created }}</p>
                                    </div>
                                    <br>
                                {% endfor %}
                            {% else %}
                                <div class="p-3">
                                    <p>Пусто</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
