{% extends 'layouts/base.html' %}
{% block title %}EVO магазин / Оформить заказ{% endblock %}
{% block description %}Оформление заказа{% endblock %}
{% block content %}
    <section class="paddingTopBottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>Оформить заказ</h1>
                    <div class="order-info">
                        <h3>Ваши товары</h3>
                        <ul>
                            {% for item in cart %}
                                <li>
                                    {{ item.product.name }} {{ item.quantity }} шт.
                                    <span>{{ item.total_price }} рублей</span>
                                </li>
                            {% endfor %}
                        </ul>
                        <br>
                        <p>Стоимость товаров: {{ cart.get_products_price }} рублей</p>
                        <p>Стоимость доставки: {% if cart.get_products_price <  delivery %}{{ delivery }}{% else %}0{% endif %} рублей</p>
                        <p>Стоимость всего: {{ cart.get_total_price }} рублей</p>
                    </div>
                    <h1>Данные получателя</h1>
                    <form action="." method="post" class="order-form">
                        {% csrf_token %}
                        {#{{ form.as_p }}#}
                        {% for f in form %}
                            <div class="form-floating mb-3">
                                {{ f }}
                                <label for="{{ f.id_for_label }}">{{ f.label }}</label>
                            </div>
                            <div>{{ f.errors }}</div>
                        {% endfor %}
                        <p><input type="submit" class="btn btn-success btnS" value="Оформить заказ"></p>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}