{% extends 'layouts/base.html' %}
{% load  static %}
{% block title %}EVO магазин / Профиль{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col message">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <section id="profile" class="paddingTopBottom">
        <div class="container">
            <div class="row">
                <div class="col-md-3 mb-5">
                    {% include 'includes/profile/sidebar.html' %}
                </div>
                <div class="col-md-9">
                    <h3>Профиль</h3>
                    <div class="col-lg-3 mb-5">
                        <div class="avatar">
                            {% if profile.avatar %}
                                <img src="{{ profile.avatar.url }}" alt="">
                            {% else %}
                                <img src="{% static 'img/no_avatar.png' %}" alt="No avatar">
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-9 mb-5">
                        <form id="profileForm" action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div>{{ form.non_field_errors }}</div>
                            {% for f in form %}
                                <div class="form-floating mb-3">
                                    {{ f }}
                                    <label for="{{ f.id_for_label }}">{{ f.label }}</label>
                                </div>
                                <div>{{ f.errors }}</div>
                            {% endfor %}
                            <button type="submit" class="btn btn-success btnS">Обновить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        $(document).ready(function () {
            $('#profileForm').submit(function () { // отслеживаем событие отправки формы
                $.ajax({ // создаем AJAX-вызов
                    data: $(this).serialize(), // получаем данные формы
                    type: $(this).attr('method'), // GET или POST
                    url: "{% url 'profile' profile.pk %}",
                    success: function (response) { // если успешно, то
                        if (response.status == 'ok') {
                            $('.validAjax').remove();
                            $('.message').after('<div class="validAjax" role="alert">Профиль обновлён</div>');
                            $('html, body').animate({scrollTop: $("body").offset().top}, 0);
                        } else {
                        }
                    },
                    error: function (response) { // если ошибка, то
                        console.log(response.responseJSON.errors) // предупредим об ошибке
                    }
                });
                return false;
            });
        })
    </script>
{% endblock %}