{% extends 'layouts/base.html' %}
{% load  static %}
{% block title %}EVO магазин / Профиль{% endblock %}
{% block content %}
    <section id="profile" class="paddingTopBottom">
        <div class="container">
            <div class="row">
                <div class="col-md-3 mb-5">
                    {% include 'includes/sidebar_profile.html' %}
                </div>
                <div class="col-md-9">
                    <h3>Отзывы</h3>
                    {% if object_list %}
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Товар</th>
                                <th scope="col">Отзыв</th>
                                <th scope="col">Рейтинг</th>
                                <th scope="col">Статус</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for review in object_list %}
                                <tr>
                                    <td>
                                        <a href="{% url 'product' review.product.slug %}">{{ review.product }}</a>
                                    </td>
                                    <td>{{ review.description|truncatechars:'20' }}</td>
                                    <td>{{ review.rating }}</td>
                                    <td>{{ review.get_status_display }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                    {% include 'includes/paginator.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}