{% extends 'layouts/base.html' %}
{% block title %}EVO магазин / О нас{% endblock %}
{% block content %}
    <section class="paddingTopBottom">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>О нас</h1>
                    <p>Мы уже 12 лет поставляем только оригинальную продукцию из Китая, Индии, Грузии,
                        Тайваня и Японии. Ассортимент нашего магазина - это наработанная годами линейка самого
                        качественного и свежего продукта. Мы постоянно добавляем в ассортимент новые, оригинальные
                        позиции. Каждый день отправляем заказы по всей России и странам ближнего зарубежья. Множество
                        известных заведений, кафе и ресторанов разливают наш чай, кофе. Большой объем закупки позволяет
                        нам сохранять низкие цены, при высоком качестве сырья. Поэтому, приобретая у нас вы получаете
                        максимально качественную и свежую продукцию за минимальную цену.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
