{% extends 'layouts/base.html' %}
{% load  static %}
{% block title %}EVO магазин / Добавить товар{% endblock %}
{% block content %}
    <section id="prod" class="paddingTopBottom">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p><a href="{% url 'main' %}">Вернуться назад</a></p>
                    {% if messages %}
                        {% for m in messages %}
                            <div class="alert alert-success" role="alert">{{ m }}</div>
                        {% endfor %}
                    {% endif %}
                    <h1>Добавить товар</h1>
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success btnS">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
