{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}EVO магазин / Каталог{% endblock %}
{% block description %}Продукция категории{% endblock %}
{% block content %}
    <section id="prod" class="paddingTopBottom">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="admin-def">
                        {% if user.is_superuser or user.is_staff %}
                            <a href="{% url 'add_product' %}" class="btn btn-warning btn-sm">Добавить товар</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {% if object_list %}
                        <div class="sort"><span>Сортировка</span>
                            <select class="form-select form-select-sm" aria-label="Сортировать">
                                <option selected>дата добавления</option>
                                <option value="1">цены: по возрастанию</option>
                                <option value="2">цены: по убыванию</option>
                            </select>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% if object_list %}
                    {% for product in object_list %}
                        <div class="col">
                            <div class="card h-100">
                                {% if product.image %}
                                    <div class="fotorama" data-width="100%">
                                        <img src="{{ product.image.url }}" alt="">
                                    </div>
                                {% else %}
                                    <img src="{% static 'img/noimg.jpg' %}" alt="No image">

                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title"><a href="{% url 'product' product.slug %}"
                                                              class="link-dark">{{ product.name }}</a></h5>
                                    <div class="volume"><span class="text">Вес {{ product.volume }} грамм</span></div>
                                    <div class="price float-end">{{ product.price }} <span class="text">руб.</span>
                                    </div>
                                    <div class="btn-group" role="group">
                                        <a type="button" class="btn btn-success"
                                           href="{% url 'product' product.slug %}">Подробнее</a>
                                        <a type="button" class="btn btn-outline-success"><i class="bi bi-bookmarks"></i></a>
                                        <a type="button" class="btn btn-outline-success"><i class="bi bi-heart"></i></a>
                                        <a type="button" class="btn btn-outline-success"><i class="bi bi-cart3"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Товаров нет</p>
                {% endif %}
            </div>
            {% if page_obj.has_other_pages %}
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <nav id="paginator" aria-label="Page navigation">
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                                            <i class="bi bi-arrow-left"></i>
                                        </a>
                                    </li>
                                {% endif %}
                                {% for page in paginator.page_range %}
                                    {% if page_obj.number == page %}
                                        <li class="page-item active" aria-current="page">
                                            <a class="page-link">{{ page }}</a>
                                        </li>
                                    {% elif page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                            <i class="bi bi-arrow-right"></i>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
