{% extends 'layouts/base.html' %}
{% load  static %}
{% block title %}EVO магазин / Товары для сравнения{% endblock %}
{% block description %}Товары для сравнения{% endblock %}
{% block content %}
    <section id="prod" class="paddingTopBottom content">
        <div class="row">
            <div class="col">
                <h1>Товары для сравнения</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% with total_items=compare|length %}
                    {% if compare|length > 0 %}
                        <div class="table-responsive">
                            <table id="cart_table" class="table table-hover cart">
                                <thead>
                                <tr>
                                    <th scope="col">Фото</th>
                                    <th scope="col" style="min-width: 150px;">Товар</th>
                                    <th scope="col" style="min-width: 100px;">Цена за единицу</th>
                                    <th scope="col" style="min-width: 100px;">Цена общая</th>
                                    <th scope="col">&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in compare %}
                                    {% with product=item.product %}
                                        <tr>
                                            <td>
                                                <img src="


                                                        {% if product.image %}{{ product.image.url }}{% else %}{% static 'img/noimg.jpg' %}{% endif %}"
                                                     width="50">
                                            </td>
                                            <td><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></td>
                                            <td class="num">{{ product.price }} руб.</td>
                                            <td class="num">&nbsp;</td>
                                            <td class="text-center"><a href="{% url "compare_remove" product.id %}"><i
                                                    class="bi bi-x-square-fill"></i></a></td>
                                        </tr>
                                    {% endwith %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        Товары не найдены
                    {% endif %}
                {% endwith %}
            </div>
            {% include 'includes/paginator.html' %}
        </div>
    </section>
{% endblock %}
