{% extends 'layouts/base.html' %}
{% load  static %}
{% block title %}EVO магазин / Избранное {% endblock %}
{% block description %}Избранные товары{% endblock %}
{% block content %}
    <div class="row">
        <div class="col">
            <h1>Избранное</h1>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% if object_list %}
            {% for product in object_list %}
                <div class="col">

                    <div class="card h-100">
                        {% if product.image %}
                            <img src="{{ product.image.url }}" alt="">
                        {% else %}
                            <img src="{% static 'img/noimg.jpg' %}" alt="No image">
                        {% endif %}
                        <div class="show-category">{{ product.category }}</div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="{{ product.get_absolute_url }}"
                                                      class="link-dark">{{ product.name }}</a></h5>
                            <div><span class="text">{{ product.price }} руб. / {{ product.volume }} грамм</span></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Товары не найдены</p>
        {% endif %}
    </div>
    {% include 'includes/paginator.html' %}
{% endblock %}
