{% extends 'layouts/base.html' %}
{% block title %}EVO магазин / Главная{% endblock %}
{% block description %}Продукция с сертификатом качества. Честные отзывы. Программа лояльности: кешбек, партнёрская
    ссылка.{% endblock %}
{% block content %}
    <section id="prod" class="paddingTopBottom">
        <div class="container">
            <div class="row">
                <div class="col">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% if categories %}
                    {% for category in categories|slice:':6' %}
                        <div class="col">
                            <div class="card h-100">
                                <img src="{{ category.image.url }}" alt="image">
                                <div class="card-body-cat">
                                    <h5 class="card-title">
                                        <a href="{{ category.get_absolute_url }}" class="text-dark">{{ category.name }}</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>
    <section class="paddingBottom">
        <div class="container">
            <div class="p-5 mb-4 bg-light rounded-3 pos-rel">
                <div class="container-fluid py-5">
                    <h2 class="display-5 fw-bold">Гарантия качества</h2>
                    <p class="col-md-8 fs-4 text">В интернет-магазине EVO реализуется продукция от поставщиков с
                        сертификатами качества</p>
                    <!--button-- class="btn btn-primary btn-lg" type="button">Наши партнёры</button-->
                    <i class="bi bi-award"></i>
                </div>
            </div>
            <div class="row align-items-md-stretch">
                <div class="col-md-6">
                    <div class="h-100 p-5 rounded-3 text-bg-success pos-rel">
                        <h2>Бонусная программа</h2>
                        <p class="text">Начисление бонусов на личный внутренний счёт за покупку, отзыв и
                            рекомендации</p>
                        <button class="btn btn-outline-light btnS" type="button">Подробнее</button>
                        <i class="bi bi-percent"></i>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="h-100 p-5 text-bg-light rounded-3 pos-rel">
                        <h2>Настоящие отзывы</h2>
                        <p class="text">Отзывы могут писать только клиенты, купившие продукцию </p>
                        <!--button-- class="btn btn-outline-secondary" type="button">Подробнее</button-->
                        <i class="bi bi-chat-text"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
