{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}EVO магазин / Главная{% endblock %}
{% block description %}Продукция с сертификатом качества. Честные отзывы. Бонусная программа.{% endblock %}
{% block content %}
    <section id="prod" class="content">
        {#            <div class="p-5 mb-4 bg-light rounded-3 pos-rel">#}
        {#                <div class="container-fluid py-5">#}
        {#                    <h2 class="display-5 fw-bold">Товары для здоровья, красоты и долголетия</h2>#}
        {#                    <p class="col-md-8 fs-4 text">Натуральная продукция для укрепления вашего тела и духа</p>#}
        {#                    <i class="bi bi-heart-pulse"></i>#}
        {#                </div>#}
        {#            </div>#}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
            {% if object_list %}
                {% for product in object_list %}
                    <div class="col">
                        <div class="card h-100">
                            {% if product.image %}
                                <img src="{{ product.image.url }}" alt="">
                            {% else %}
                                <img src="{% static 'img/noimg.jpg' %}" alt="No image">
                            {% endif %}
                            <div class="show-category">{{ product.category }}</div>
                            <div class="card-body">
                                <h5 class="card-title"><a href="{{ product.get_absolute_url }}"
                                                          class="link-dark">{{ product.name }}</a></h5>
                                <div><span class="text">{{ product.price }} руб. / {{ product.volume }} грамм</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Товары не найдены</p>
            {% endif %}
        </div>
        <div class="row">
            {% include 'includes/paginator.html' %}
        </div>
    </section>
    {% if popular %}
        <section id="slider-index" class="paddingTopBottom">
            <div class="row">
                <div class="col">
                    <h2>Популярные товары</h2>
                    <div class="slider-index">
                        {% for product in popular %}
                            <div class="pop-card">
                                <img src="{{ product.image.url }}" alt="No image">
                                <div class="title"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                                </div>
                                <div class="show-category">{{ product.category }}</div>
                                <div>
                                    {% if product.rating == 5 %}
                                        <div class="star">
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                        </div>
                                    {% endif %}
                                    {% if product.rating == 4 %}
                                        <div class="star">
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star"></i>
                                        </div>
                                    {% endif %}
                                    {% if product.rating == 3 %}
                                        <div class="star">
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star"></i>
                                            <i class="bi bi-star"></i>
                                        </div>
                                    {% endif %}
                                    {% if product.rating == 2 %}
                                        <div class="star">
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star"></i>
                                            <i class="bi bi-star"></i>
                                            <i class="bi bi-star"></i>
                                        </div>
                                    {% endif %}
                                    {% if product.rating == 1 %}
                                        <div class="star">
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star"></i>
                                            <i class="bi bi-star"></i>
                                            <i class="bi bi-star"></i>
                                            <i class="bi bi-star"></i>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    <section class="paddingBottom">
        <div class="row align-items-md-stretch">
            <div class="col-md-6 p-1">
                <div class="h-100 p-5 text-bg-primary pos-rel">
                    <h2>Бонусная программа</h2>
                    <p class="text">Начисление бонусов на личный внутренний счёт за покупку, отзыв и
                        рекомендации</p>
                    <button class="btn btn-light btnS" type="button">Подробнее</button>
                    <i class="bi bi-percent"></i>
                </div>
            </div>
            <div class="col-md-6 p-1">
                <div class="h-100 p-5 text-bg-light pos-rel">
                    <h2>Настоящие отзывы</h2>
                    <p class="text">Отзывы могут писать только клиенты, купившие продукцию </p>
                    <!--button-- class="btn btn-outline-secondary" type="button">Подробнее</button-->
                    <i class="bi bi-chat-text"></i>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
