{% extends 'layouts/base.html' %}
{% load  static %}
{% block title %}EVO магазин / {{ product.name }}{% endblock %}
{% block description %}{{ product.desc|truncatechars:'90' }}{% endblock %}
{% block content %}
    <section id="prod" class="paddingTopBottom">
        <div class="container">
            <div class="row">
                <div class="col">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="fotorama" data-width="100%" data-nav="thumbs" data-allowfullscreen="true">
                        {% if product.image %}
                            <img src="{{ product.image.url }}" alt="">
                        {% else %}
                            <img src="{% static 'img/noimg.jpg' %}" alt="No image">
                        {% endif %}
                        {% if product.images.all %}
                            {% for photo in product.images.all %}
                                <img src="{{ photo.image.url }}" alt="">
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-5 offset-md-1">
                    <div class="btn-group" role="group">
                        <a type="button" class="btn btn-outline-success"><i class="bi bi-bookmarks"></i></a>
                        <a type="button" class="btn btn-outline-success"><i class="bi bi-heart"></i></a>
                        <div class="star">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star"></i>
                        </div>
                    </div>

                    <h3>{{ product.name }}</h3>
                    <p class="text">Вес <span>{{ product.volume }}</span> грамм</p>
                    <p>
                    <form id="order" action="{% url 'cart_add' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="number">Количество
                            <button class="minus btn btn-outline-success"><i class="bi bi-dash-lg"></i></button>
                            {{ cart_product_form }}
                            <button class="plus btn btn-outline-success"><i class="bi bi-plus-lg"></i></button>
                        </div>
                    </form>
                    </p>
                    <p class="price">{{ product.price }} <span class="text">рублей</span></p>
                    <p><input type="submit" form="order" class="btn btn-success btnS" value="Добавить в корзину"></p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                    data-bs-target="#description-tab-pane" type="button" role="tab"
                                    aria-controls="description-tab-pane" aria-selected="true">Описание
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link link-success" id="profile-tab" data-bs-toggle="tab"
                                    data-bs-target="#property-tab-pane" type="button" role="tab"
                                    aria-controls="property-tab-pane" aria-selected="false">Характеристики
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link link-success" id="contact-tab" data-bs-toggle="tab"
                                    data-bs-target="#review-tab-pane" type="button" role="tab"
                                    aria-controls="review-tab-pane" aria-selected="false">Отзывы
                                ({{ product.reviews.all.count }})
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active " id="description-tab-pane" role="tabpanel"
                             aria-labelledby="description-tab" tabindex="0">
                            <div class="p-3 text">{{ product.desc }}</div>
                        </div>
                        <div class="tab-pane fade" id="property-tab-pane" role="tabpanel" aria-labelledby="property-tab"
                             tabindex="0">
                            <div class="col-md-6">
                                <table class="table table-striped">
                                    <tbody>
                                    {% if product.volume %}
                                        <tr>
                                            <td>Вес</td>
                                            <td>{{ product.volume }} грамм</td>
                                        </tr>
                                    {% endif %}
                                    {% if product.country %}
                                        <tr>
                                            <td>Страна</td>
                                            <td>{{ product.country }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if product.town %}
                                        <tr>
                                            <td>Город</td>
                                            <td>{{ product.town }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if product.year %}
                                        <tr>
                                            <td>Год</td>
                                            <td>{{ product.year }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if product.tag %}
                                        <tr>
                                            <td>Метки</td>
                                            <td>{{ product.tag }}</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="review-tab-pane" role="tabpanel" aria-labelledby="review-tab"
                             tabindex="0">
                            <div>
                                {% if user.is_authenticated %}
                                    <!-- Кнопка-триггер модального окна добавления отзыва -->
                                    <button type="button" class="btn btn-success btnS" data-bs-toggle="modal"
                                            data-bs-target="#addView">
                                        Написать отзыв
                                    </button>
                                {% else %}
                                    <div class="p-3">Написать отзыв может только зарегистрированный пользователь</div>
                                {% endif %}
                            </div>
                            <br>
                            {% if product.reviews.all %}
                                {% for review in product.reviews.all %}
                                    <div class="p-3 bg-light">
                                        <p class="text">
                                            {% if review.rating == '5' %}
                                                <div class="star">
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                </div>
                                            {% endif %}
                                        {% if review.rating == '4' %}
                                            <div class="star">
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star"></i>
                                            </div>
                                        {% endif %}
                                        {% if review.rating == '3' %}
                                            <div class="star">
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star"></i>
                                                <i class="bi bi-star"></i>
                                            </div>
                                        {% endif %}
                                        {% if review.rating == '2' %}
                                            <div class="star">
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star"></i>
                                                <i class="bi bi-star"></i>
                                                <i class="bi bi-star"></i>
                                            </div>
                                        {% endif %}
                                        {% if review.rating == '1' %}
                                            <div class="star">
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star"></i>
                                                <i class="bi bi-star"></i>
                                                <i class="bi bi-star"></i>
                                                <i class="bi bi-star"></i>
                                            </div>
                                        {% endif %}
                                        </p>
                                        <p class="text">{{ review.description }}</p>
                                        <p class="text-end text">
                                            <span><i class="bi bi-person-circle"></i> {{ review.author }} /</span>
                                            <span><i
                                                    class="bi bi-clock"></i> {{ review.created|date:'H:i d.m.Y' }}</span>
                                        </p>
                                    </div>
                                    <br>
                                {% endfor %}
                            {% else %}
                                <div class="p-3 bg-light">
                                    Отзывов нет
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Модальное окно добавить отзыв -->
    <div class="modal fade" id="addView" tabindex="-1" aria-labelledby="ModalReview" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalReview">Добавить отзыв</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <br>
                        <button type="submit" class="btn btn-success btnS">Сохранить</button>
                    </form>
                    <br>
                    <p><a href="#">Правила написания отзыва</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
