{% extends 'layouts/base.html' %}
{% load  static %}
{% block title %}EVO магазин / {{ product.name }}{% endblock %}
{% block content %}
    <section id="prod" class="paddingTopBottom">
        <div class="container">
            {% if user.is_authenticated %}
                <div class="row">
                    <div class="col">
                        <p>
                            <a href="{% url 'edit_product' product.pk %}">Редактирова</a> /
                            <a href="{% url 'delete_product' product.pk %}">Удалить</a>
                        </p>
                    </div>
                </div>
            {% endif %}
            {% if messages %}
                {% for m in messages %}
                    <div class="alert alert-success" role="alert">{{ m }}</div>
                {% endfor %}
            {% endif %}
            <div class="row">
                <div class="col-md-6">
                    <div class="fotorama" data-width="100%" data-nav="thumbs" data-allowfullscreen="true">
                        {% if product.image %}
                            <img src="{{ product.image.url }}" alt="">
                        {% else %}
                            <img src="{% static 'img/noimg.jpg' %}" alt="No image">
                        {% endif %}
                        {% if product.images.all %}
                            {% for photo in product.images.all %}
                                <img src="{{ photo.image.url }}" alt="">
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-5 offset-md-1">
                    <div class="btn-group" role="group">
                        <a type="button" class="btn btn-outline-success"><i class="bi bi-bookmarks"></i></a>
                        <a type="button" class="btn btn-outline-success"><i class="bi bi-heart"></i></a>
                        <div class="star">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star"></i>
                        </div>
                    </div>

                    <h3>{{ product.name }}</h3>
                    <p>Вес <span>{{ product.volume }}</span> грамм</p>
                    <p class="volSum">
                        Количество
                        <button class="btn btn-outline-success"><i class="bi bi-dash-circle"></i></button>
                        <span>1</span>
                        <button class="btn btn-outline-success"><i class="bi bi-plus-circle"></i></button>
                    </p>
                    <p class="price">{{ product.price }} <span>рублей</span></p>
                    <p><a type="button" class="btn btn-success btnS" href="">Добавить в корзину</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col">

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                    data-bs-target="#home-tab-pane" type="button" role="tab"
                                    aria-controls="home-tab-pane" aria-selected="true">Описание
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link link-success" id="profile-tab" data-bs-toggle="tab"
                                    data-bs-target="#profile-tab-pane" type="button" role="tab"
                                    aria-controls="profile-tab-pane" aria-selected="false">Характеристики
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link link-success" id="contact-tab" data-bs-toggle="tab"
                                    data-bs-target="#contact-tab-pane" type="button" role="tab"
                                    aria-controls="contact-tab-pane" aria-selected="false">Отзывы ({{ product.reviews.all.count }})
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel"
                             aria-labelledby="home-tab" tabindex="0">{{ product.desc }}
                        </div>
                        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab"
                             tabindex="0">
                            <div class="col-md-6">
                                <table class="table table-striped">
                                    <tbody>
                                    {% if product.volume %}
                                        <tr>
                                            <td>Вес</td>
                                            <td>{{ product.volume }} грамм</td>
                                        </tr>
                                    {% endif %}
                                    {% if product.country %}
                                        <tr>
                                            <td>Страна</td>
                                            <td>{{ product.country }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if product.town %}
                                        <tr>
                                            <td>Город</td>
                                            <td>{{ product.town }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if product.year %}
                                        <tr>
                                            <td>Год</td>
                                            <td>{{ product.year }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if product.tag %}
                                        <tr>
                                            <td>Метки</td>
                                            <td>{{ product.tag }}</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab"
                             tabindex="0">
                            <div>
                                {% if user.is_authenticated %}
                                    <!-- Кнопка-триггер модального окна добавления отзыва -->
                                    <button type="button" class="btn btn-success btnS" data-bs-toggle="modal"
                                            data-bs-target="#addView">
                                        Написать отзыв
                                    </button>
                                {% else %}
                                    Оставить отзыв может только зарегистрированный пользователь
                                {% endif %}
                            </div>
                            <br>
                            {% if product.reviews.all %}
                                {% for review in product.reviews.all %}
                                    <div class="p-3 bg-light">
                                        <p>{{ review.description }}</p>
                                        <p class="text-end">
                                            {% if user.is_authenticated %}
                                                <span>
                                                <!-- Кнопка-триггер модального окна редактирования отзыва -->
                                                <button type="button" class="btn btn-link" data-bs-toggle="modal"
                                                        data-bs-target="#updateView">
                                                Редактировать
                                                </button> /
                                            </span>
                                            {% endif %}
                                            <span><i class="bi bi-person-circle"></i> {{ review.author }} /</span>
                                            <span><i
                                                    class="bi bi-clock"></i> {{ review.created|date:'H:i d.m.Y' }}</span>
                                        </p>
                                    </div>
                                    <br>
                                {% endfor %}
                            {% else %}
                                <div class="p-3 bg-light">
                                    Отзывов нет
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Модальное окно добавить отзыв -->
    <div class="modal fade" id="addView" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Добавить отзыв</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <br>
                        <button type="submit" class="btn btn-success btnS">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Модальное редактировать отзыв -->
    <div class="modal fade" id="updateView" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Редактировать отзыв</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form2.as_p }}
                        <button type="submit" class="btn btn-success btnS">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
